<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container  body-content">

<nav th:replace="fragments :: page-header"></nav>

<div class="attractions">
    <p th:text="${'Name: ' + attraction.name}"></p>
    <p th:text="${'Description: ' + attraction.description}"></p>
    <p> <a th:href="${attraction.address}" th:text="${attraction.name}" target="_blank" /></p>
</div>
<!--    <ul th:each="i : ${grocerylists.items}">-->
<!--        <li th:text="${'Item : ' + i.name}"></li>-->
<!--        <li th:text="${'Quantity : ' + i.quantity}"></li>-->
<!--    </ul>-->
<!--    <br>-->
<!--    <br>-->
<!--    <a th:href="@{/edit/{Id}(Id=${grocerylists.id})}">Edit</a>-->
<!--</div>-->


</body>
</html>