<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">
    <h2>Attraction</h2>
    <div class="btns">
        <a href="/restaurants/add" class="btn-about animated fadeInUp scrollto">Add Restaurant</a>
    </div>
    <ul>
        <li th:each="attraction : ${attractions}">
            <a th:href="@{'/view' + ${attraction.id}}" th:text="${attraction.name}"></a>
        </li>
    </ul>

</div>

</body>
</html>