<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container  body-content">

<nav th:replace="fragments :: page-header"></nav>

<div class="listing">
    <!--    <p th:text="${'ID: ' + product.id}"></p>-->
    <!--   <img th:src="${product.pictureURL}" />-->
    <p th:text="${'Name: ' + attraction.name}"></p>
    <p th:text="${'Description: ' + attraction.description}"></p>
    <p th:href="${'Address: ' + attraction.address}"></p>
    <p th:href="${'Link: ' + attraction.linkForAttraction}"></p>
</div>
<!--<a th:href="@{/edit/{Id}(Id=${attraction.id})}">Edit</a>-->

</body>
</html>