
#header {
  background: rgba(12, 11, 9, 0.6);
  border-bottom: 1px solid rgba(12, 11, 9, 0.6);
  transition: all 0.5s;
  z-index: 997;
  padding: 15px 0;
  top: 40px;
}

#header.header-scrolled {
  top: 0;
  background: rgba(0, 0, 0, 0.85);
  border-bottom: 1px solid #37332a;
}

#header .logo {
  font-size: 28px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 300;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
}

#header .logo a {
  color: #fff;
}

#header .logo img {
  max-height: 40px;
}


#hero {
  width: 100%;
  height: 100%;
  background: url("img/mus.jpg") top center;
  background-size: cover;
       background-position:center;
       background-repeat:no-repeat;
  position: relative;
  padding: 0;
}
#about{
    width: 100%;
    height: 100vh;
    background: rgb(169,169,169)
}
#categories{
     width: 100%;
     height: 100%;
     background: url("img/bkground.jpg") top center;
     background-size: cover;
     background-position:center;
     background-repeat:no-repeat;
     position: relative;
     padding: 0;
}
#restaurants{
     width: 100%;
     height: 100%;
     background: url("img/mus.jpg") top center;
     background-size: cover;
     background-position:center;
     background-repeat:no-repeat;
     position: relative;
     padding: 0;
}
#museums{
     width: 100%;
     height: 100%;
     background: url("img/mus.jpg") top center;
     background-size: cover;
     background-position:center;
     background-repeat:no-repeat;
     position: relative;
     padding: 0;
}
#events{
     width: 100%;
     height: 100%;
     background: url("img/mus.jpg") top center;
     background-size: cover;
     background-position:center;
     background-repeat:no-repeat;
     position: relative;
     padding: 0;
}#parks{
      width: 100%;
       height: 100%;
       background: url("img/mus.jpg") top center;
       background-size: cover;
       background-position:center;
       background-repeat:no-repeat;
      position: relative;
      padding: 0;
 }
 #historical{
      width: 100%;
      height: 100%;
      background: url("img/mus.jpg") top center;
      background-size: cover;
      background-position:center;
      background-repeat:no-repeat;
      position: relative;
      padding: 0;
 }
#hero:before {
  content: "";

  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#hero .container {
  padding-top: 110px;
}


#hero h1 {
  margin: 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color: #fff;
  font-family: "Poppins", sans-serif;
}

#hero h1 span {
  color: #e6d5c5;
}

#hero h2 {
  color: #eee;
  margin-bottom: 10px 0 0 0;
  font-size: 22px;
}

.btns {
  margin-top: 30px;
}

.btn-about {
  font-weight: 600;
  font-size: 13px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  display: inline-block;
  padding: 12px 30px;
  border-radius: 50px;
  transition: 0.3s;
  line-height: 1;
  color: white;
  border: 2px solid  #e6d5c5;
}

.btn-about:hover {
  background: rgb(99,140,168);
  color: #fff;
}






@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}

  #hero .container {
    padding-top: 130px;
    padding-bottom: 60px;
  }
}

  #hero h2 {
    font-size: 18px;
    line-height: 24px;
  }
}

@-webkit-keyframes pulsate-btn {
  0% {
    transform: scale(0.6, 0.6);
    opacity: 1;
  }
  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
}

@keyframes pulsate-btn {
  0% {
    transform: scale(0.6, 0.6);
    opacity: 1;
  }
  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
}

#header {
  background: rgba(12, 11, 9, 0.6);
  border-bottom: 1px solid rgba(12, 11, 9, 0.6);
  transition: all 0.5s;
  z-index: 997;
  padding: 15px 0;
  top: 40px;
}

#header.header-scrolled {
  top: 0;
  background: rgba(0, 0, 0, 0.85);
  border-bottom: 1px solid #37332a;
}

#header .logo {
  font-size: 28px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 300;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
}

#header .logo a {
  color: #fff;
}

#header .logo img {
  max-height: 40px;
}

@media (max-width: 992px) {
  .book-a-table-btn {
    margin: 0 15px 0 0;
    padding: 8px 20px;
  }
}
#hero {
  width: 100%;
  height: 100vh;
  background: url("img/stlbcg.jpg");
  background-size: cover;
  position: relative;
  padding: 0;
}
#about{
    width: 100%;
    height: 100vh;
    background: rgb(169,169,169)
}

#hero:before {
  content: "";

  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#hero .container {
  padding-top: 110px;
}

@media (max-width: 992px) {
  #hero .container {
    padding-top: 98px;
  }
}

#hero h1 {
  margin: 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color: #fff;
  font-family: "Poppins", sans-serif;
}

#hero h1 span {
  color: #e6d5c5;
}

#hero h2 {
  color: #eee;
  margin-bottom: 10px 0 0 0;
  font-size: 22px;
}

#hero .btns {
  margin-top: 30px;
}

#hero .btn-about, #hero .btn-book {
  font-weight: 600;
  font-size: 13px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  display: inline-block;
  padding: 12px 30px;
  border-radius: 50px;
  transition: 0.3s;
  line-height: 1;
  color: white;
  border: 2px solid  #e6d5c5;
}

#hero .btn-about:hover {
  background: rgb(99,140,168);
  color: #fff;
}

#hero .btn-book {
  margin-left: 15px;
}





@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}

  #hero .container {
    padding-top: 130px;
    padding-bottom: 60px;
  }
}

  #hero h2 {
    font-size: 18px;
    line-height: 24px;
  }
}

@-webkit-keyframes pulsate-btn {
  0% {
    transform: scale(0.6, 0.6);
    opacity: 1;
  }
  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
}

@keyframes pulsate-btn {
  0% {
    transform: scale(0.6, 0.6);
    opacity: 1;
  }
  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
}