<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container body-content">

<nav th:replace="fragments :: page-header"></nav>

<h1>Add Park</h1>

<form method="post" style="max-width:600px;">
    <div class="form-group">
        <label th:for="name">Name</label>
        <input class="form-control" th:field="${attraction.name}" />
        <span th:errors="${attraction.name}" class="error"></span>
    </div>
    <div class="form-group">
        <label th:for="name">Description</label>
        <input class="form-control" th:field="${attraction.description}" />
        <span th:errors="${attraction.description}" class="error"></span>
    </div>
    <label th:for="name">Address</label>
    <input class="form-control" th:field="${attraction.address}" />
    <span th:errors="${attraction.address}" class="error"></span>
    </div>
    <div class="form-group">
        <label th:for="name">Link</label>
        <input class="form-control" th:field="${attraction.linkForAttraction}" />
        <span th:errors="${attraction.linkForAttraction}" class="error"></span>
    </div>
    <div class="form-group">
        <label>Hours of Operation</label>
        <p>
            <label th:for="openingTime">Open</label>
            <select th:field="${attraction.openingTime}">
                <option value="1:00 am">1:00 am</option>
                <option value="1:30 am">1:30 am</option>
                <option value="2:00 am">2:00 am</option>
                <option value="2:30 am">2:30 am</option>
                <option value="3:00 am">3:00 am</option>
                <option value="3:30 am">3:30 am</option>
                <option value="4:00 am">4:00 am</option>
                <option value="4:30 am">4:30 am</option>
                <option value="5:00 am">5:00 am</option>
                <option value="5:30 am">5:30 am</option>
                <option value="6:00 am">6:00 am</option>
                <option value="6:30 am">6:30 am</option>
                <option value="7:00 am">7:00 am</option>
                <option value="7:30 am">7:30 am</option>
                <option value="8:00 am">8:00 am</option>
                <option value="8:30 am">8:30 am</option>
                <option value="9:00 am">9:00 am</option>
                <option value="9:30 am">9:30 am</option>
                <option value="10:00 am">10:00 am</option>
                <option value="10:30 am">10:30 am</option>
                <option value="11:00 am">11:00 am</option>
                <option value="11:30 am">11:30 am</option>
                <option value="12:00 am">12:00 pm</option>
                <option value="12:30 am">12:30 pm</option>
                <option value="1:00 pm">1:00 pm</option>
                <option value="1:30 pm">1:30 pm</option>
                <option value="2:00 pm">2:00 pm</option>
                <option value="2:30 pm">2:30 pm</option>
                <option value="3:00 pm">3:00 pm</option>
                <option value="3:30 pm">3:30 pm</option>
                <option value="4:00 pm">4:00 pm</option>
                <option value="4:30 pm">4:30 pm</option>
                <option value="5:00 pm">5:00 pm</option>
                <option value="5:30 pm">5:30 pm</option>
                <option value="6:00 pm">6:00 pm</option>
                <option value="6:30 pm">6:30 pm</option>
                <option value="7:00 pm">7:00 pm</option>
                <option value="7:30 pm">7:30 pm</option>
                <option value="8:00 pm">8:00 pm</option>
                <option value="8:30 pm">8:30 pm</option>
                <option value="9:00 pm">9:00 pm</option>
                <option value="9:30 pm">9:30 pm</option>
                <option value="10:00 pm">10:00 pm</option>
                <option value="10:30 pm">10:30 pm</option>
                <option value="11:00 pm">11:00 pm</option>
                <option value="11:30 pm">11:30 pm</option>
                <option value="12:00 pm">12:00 am</option>
                <option value="12:30 pm">12:30 am</option>
                <span th:errors="${attraction.openingTime}" class="error"></span>
            </select>

            <label th:for="closingTime">Close</label>
            <select th:field="${attraction.closingTime}">
                <option value="1:00 am">1:00 am</option>
                <option value="1:30 am">1:30 am</option>
                <option value="2:00 am">2:00 am</option>
                <option value="2:30 am">2:30 am</option>
                <option value="3:00 am">3:00 am</option>
                <option value="3:30 am">3:30 am</option>
                <option value="4:00 am">4:00 am</option>
                <option value="4:30 am">4:30 am</option>
                <option value="5:00 am">5:00 am</option>
                <option value="5:30 am">5:30 am</option>
                <option value="6:00 am">6:00 am</option>
                <option value="6:30 am">6:30 am</option>
                <option value="7:00 am">7:00 am</option>
                <option value="7:30 am">7:30 am</option>
                <option value="8:00 am">8:00 am</option>
                <option value="8:30 am">8:30 am</option>
                <option value="9:00 am">9:00 am</option>
                <option value="9:30 am">9:30 am</option>
                <option value="10:00 am">10:00 am</option>
                <option value="10:30 am">10:30 am</option>
                <option value="11:00 am">11:00 am</option>
                <option value="11:30 am">11:30 am</option>
                <option value="12:00 am">12:00 pm</option>
                <option value="12:30 am">12:30 pm</option>
                <option value="1:00 pm">1:00 pm</option>
                <option value="1:30 pm">1:30 pm</option>
                <option value="2:00 pm">2:00 pm</option>
                <option value="2:30 pm">2:30 pm</option>
                <option value="3:00 pm">3:00 pm</option>
                <option value="3:30 pm">3:30 pm</option>
                <option value="4:00 pm">4:00 pm</option>
                <option value="4:30 pm">4:30 pm</option>
                <option value="5:00 pm">5:00 pm</option>
                <option value="5:30 pm">5:30 pm</option>
                <option value="6:00 pm">6:00 pm</option>
                <option value="6:30 pm">6:30 pm</option>
                <option value="7:00 pm">7:00 pm</option>
                <option value="7:30 pm">7:30 pm</option>
                <option value="8:00 pm">8:00 pm</option>
                <option value="8:30 pm">8:30 pm</option>
                <option value="9:00 pm">9:00 pm</option>
                <option value="9:30 pm">9:30 pm</option>
                <option value="10:00 pm">10:00 pm</option>
                <option value="10:30 pm">10:30 pm</option>
                <option value="11:00 pm">11:00 pm</option>
                <option value="11:30 pm">11:30 pm</option>
                <option value="12:00 pm">12:00 am</option>
                <option value="12:30 pm">12:30 am</option>
                <span th:errors="${attraction.closingTime}" class="error"></span>
            </select>
        </p>
    </div>


    <input type="submit" value="Add Park" />
</form>

</body>
</html>