<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>

<div th:replace="fragments :: page-header"></div>
<section id="about">
    <h2 class="text-center p-4 mt-5"> St Louis Attractions</h2>

    <div class="container p-4 w-50">
        <!--    <img th:src = "@{/img/archpic_small.jpg}" />-->
        <p class="text-justify text-center"> Have you ever been stuck on finding things to do in the city? The St. Louis City attractions app comes in handy in that you are able to find all the attractions in the city with the flexibility to find attractions according to your interests and location, as well as other factors
        </p>
    </div>
</section>

</body>
</html>