<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
        <meta charset="UTF-8">
        <title>List of Attractions</title>
    </head>
<body>

<div th:replace="fragments :: page-header"></div>
<h1>View All Attractions</h1>
<table>
    <tr th:each="attraction : ${attraction}">
        <td>
            <p>
                Attraction:
            </p>
            <p>
                Address:
            </p>
            <p>
                Hours Of Operation:
            </p>
            <p>
                Attraction link:
            </p>

        </td>
    </tr>
</table>

</body>
</html>

<!--<div th:replace="fragments :: page-header"></div>-->
<!--<h1>View All Attractions</h1>-->
<!--<h2>Attraction</h2>-->
<!--<p th:text="${attraction.name}"></p>-->
<!--<h2>Address</h2>-->
<!--<p th:text="${attraction.address}"></p>-->
<!--<h2>Hours Of Operation</h2>-->
<!--<p th:text="${attraction.hoursOfOperation}"></p>-->
<!--<h2>Website</h2>-->
<!--<p th:text="${attraction.linkForAttraction}"></p>-->
