<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">

<head th:replace="fragments :: head"></head>

<body>
<div th:replace="fragments :: page-header"></div>

<div class="body-content">
    <h2 class="centered" th:text="${#strings.capitalizeWords(title)}"></h2>
</div>

<table class="centeredTable">
    <tr th:each="attraction : ${attractions}">

            <p th:text="${attraction.name}" style="text-align: center"></p>
            <p th:text="${attraction.description}" style="text-align: center"></p>
            <p th:text="${attraction.category}" style="text-align: center"></p>
            <p th:href="${attraction.address}" style="text-align: center"></p>
            <p th:href="${attraction.linkForAttraction}" style="text-align: center"></p>

        </td>
    </tr>
</table>

</body>
</html>
