<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>

<header th:replace="fragments :: page-header"></header>

<section id="hero" class="d-flex align-items-center">
    <div class="container position-relative text-center text-lg-start" data-aos="zoom-in" data-aos-delay="100">
        <div class="row">
            <div class="col-lg-8">
                <h1>Welcome to <span>St Louis Attractions</span></h1>
                <h2>Here you can find all the attractions in the city</h2>


                <div class="btns">
                    <a href="/about" class="btn-about animated fadeInUp scrollto">About</a>
                </div>
            </div>
        </div>
    </div>
<!--    <div class="container body-content text-center p-3">-->
<!--        <h4>check out our latest attraction review here:</h4>-->
<!--        <h6 th:text="${review.reviewText}"></h6>-->
<!--        <a th:href="@{/attraction/{id} (id=${review.id})}"-->
<!--           th:text="${review.attraction}">-->
<!--        </a>-->
<!--        <h6 th:text="${review.user.getUsername}"></h6>-->
<!--    </div>-->
</section><!-- End Hero -->
</body>
</html>