<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">

<head th:replace="fragments :: head"></head>

<body style="background:url(img/log-back.jpg); background-size: cover;">
<div th:replace="fragments :: page-header"></div>
    <div class="body-content">
        <h2 class="centered" th:text="${#strings.capitalizeWords(title)}"></h2>
    </div>
    <div class = "centered">
    <a href="/attraction"  class="btn-about animated fadeInUp scrollto">Add Attraction</a>
    </div>
    <table class="centeredTable">
        <tr th:each="attraction : ${attractions}">
            <td class="container" style="border-left: 1px solid #e4e4e4; padding-left: 10px;">
                <img class="largeImage" src="/img/mus.jpg" width="300" height="150">
            </td>
            <td class="container" style="border-right: 1px solid #e4e4e4; padding-right: 10px;" >
                <h3 style="text-align: center; color: black;">
                    <a th:href="@{'/view/' + ${attraction.id}}" th:text="${attraction.name}"></a>
                    <p th:text="${attraction.category.name}"></p>
<!--                    <p th:text="${'Rating: ' + review.rating}"></p>-->
                </h3>
            </td>
        </tr>
    </table>

</body>
</html>
