
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">
    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>
</div>

<table class="table table-striped">
    <thead>
    <tr>
        <th>Restaurants</th>


    </tr>
    </thead>
    <tbody>
    <td>
        <ul>
            <li th:each="restaurant : ${Restaurants}">
                <a th:href="${restaurant.item_link}" th:text="${restaurant.item_name}" target="_blank" />
            </li>
        </ul>
    </td>
    </tbody>
</table>

</body>
</html>


