<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head th:replace="fragments :: head"></head>

<body style="background:url(img/log-back.jpg); background-size: cover;">
<div th:replace="fragments :: page-header"></div>

<div class="row">
    <div class="column">
        <h1 class="attractionName" th:text="${attraction.name}" ></h1>
        <img class="largeImage" src="/img/mus.jpg" width="600" height="300">

        <div>
            <img class="smallImage" style="margin-left: 200px;" src="/img/mus.jpg" width="100" height="100">
            <img class="smallImage" src="/img/mus.jpg" width="100" height="100">
            <img class="smallImage" src="/img/mus.jpg" width="100" height="100">
        </div>

        <div>
            <h3 style="margin: 75px;">Hours</h3>
            <h6 th:text="${attraction.hoursOfOperationOpen + ':' + attraction.minutesOpen + ' ' + attraction.timeOfDayOpen}"></h6>
            <h6 th:text="${attraction.hoursOfOperationEnd + ':' + attraction.minutesEnd + ' ' + attraction.timeOfDayEnd}"></h6>
        </div>
    </div>

    <div class="column">
        <div>
            <h3>
                <a class="btn-about animated fadeInUp scrollto" href="/review">Review Attraction</a>
                <th:block th:with="link=${attraction.linkForAttraction}">
                    <a class="websiteLink" th:href="@{//{link}(link=${attraction.linkForAttraction})}" target="_blank">Visit Website</a>
                </th:block>
            </h3>
        </div>
        <div class="attractionInfo">
            <h3 th:text="${attraction.description}" style="text-align: center"></h3>
            <th:block th:with="link=${attraction.address}">
                <a th:href="@{//{link}(link=${attraction.address})}" target="_blank">Visit the attraction</a>
            </th:block>
            <th:block th:with="link=${attraction.linkForAttraction}">
                <a th:href="@{//{link}(link=${attraction.linkForAttraction})}" target="_blank">Visit Website</a>
            </th:block>

        </div>
        <table class="centeredTable">
            <th>
                <h3>Reviews</h3>
            </th>
            <tr th:each="review : ${reviews}">
                <td class="reviewContainer">
                    <h5 th:text="${'Reviewer: ' + review.name}"></h5>
                    <h6 th:text="${'Rating: ' + review.rating + ' stars'}"></h6>
                    <h6 th:text="${review.date}"></h6>
                    <p th:text="${review.comment}"></p>
                </td>
            </tr>
        </table>

    </div>
</div>
</div>


</body>
</html>